@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Recursive:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  max-width: 100vw;
}

body {
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  font-family: Nunito, sans-serif;
  color: white;
  overflow-x: hidden;
}
/* navbar */
header {
  position: fixed;
  top: 0;
  right: 40px;
  max-width: 100vw;
  z-index: 1000;
}

.navlist {
  display: flex;
  position: relative;
  top: 0;
}

.navlist > li {
  list-style: none;
  margin-top: 20px;
  margin-right: 30px;
  transition: all 0.5s;
}

.navlist > li > a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.underline {
  height: 2px;
  width: 70px;
  background-color: white;
  top: 44px;
  right: 230px;
  position: absolute;
  transition: all 0.4s ease;
}

.navlist > li:hover {
  opacity: 0.7;
}

/* move underline */
.underline.home {
  right: 250;
}

/* hero section */
.hero-section {
  background-image: url("photos/hero-background.jpg");
  background-attachment: fixed;
  min-height: 100vh;
  color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

section {
  background-size: cover;
  background-position: center;
}

.heading.text > h1 {
  font-family: "Nunito", sans-serif;
  font-size: 42px;
  animation: flipDown 1s forwards;
  transform: translateX(90deg);
  transition: color 0.5s;
}

.heading > h1:hover,
.heading > h2:hover,
.subheading:hover {
  color: black;
}

.heading.text > h2 {
  font-family: "Recursive", monospace;
  font-size: 30px;
  margin: 60px 0;
  animation: flipUp 1s forwards 1.5s;
  transform: rotateX(-90deg);
  transition: color 0.8s;
}

.cta-btn {
  background-color: transparent;
  outline: none;
  padding: 10px 15px;
  border: 1px solid white;
  color: white;
  opacity: 0;
  font-family: "Recursive";
  font-size: 16px;
  transition: all 0.8s ease;
  animation: fadeIn 1s forwards 3s;
}

.cta-btn:hover {
  background-color: white;
  border-color: transparent;
  color: black;
}

.subheading {
  display: inline-block;
  font-size: 32px;
  border-bottom: 3px solid white;
  padding: 0 5px;
  margin: 30px 0;
  transition: color 0.4s ease;
}

/* projects */
.projects {
  min-height: 1300px;
  padding: 40px 0;
  background-image: linear-gradient(to bottom, #0d1321, 
#a48cec);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.projects .subheading {
  display: block;
}

.mobile-text {
  display: none;
  margin-bottom: 15px;
}

.img-container {
  display: block;
  height: 800px;
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  align-items: start;
  justify-items: end;
}

.project {
  position: relative;
  width: 40vw;
  max-width: 400px;
}

.project-1,
.project-2 {
  align-self: end;
}

.project-2 > a {
  width: 100%;
}

.project-img > img {
  display: block;
  width: 100%;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.4s ease;
}

.amazon-overlay {
  background: #242f41;
}

.sudoku-overlay {
  background: rgb(85, 92, 85);
}

.weather-overlay {
  background: #417ba0;
}

.covid-overlay {
  background: #9b2c37;
}

.angular-overlay {
  background: #a98d48;
}

.image-overlay:hover {
  opacity: 1;
  transform: translateY(0deg);
}

.image-overlay > * {
  transform: translateY(20px);
  transition: transform 0.4s ease;
  color: white;
  padding: 10px;
}

.image-overlay:hover > * {
  transform: translateY(0);
}

.project .image-overlay > h3 {
  border-bottom: 1px solid white;
}

.project-1 {
  order: 1;
}

.project-2 {
  order: 2;
}

.project-3 {
  order: 3;
}

.project-4 {
  order: 4;
}

.project-5 {
  order: 5;
}

.project-6 {
  order: 6;
}

/* skills */
.skills {
  background-image: url("./photos/skills-background.jpg");
  text-align: center;
}

.skills-container {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  line-height: 2rem;
  font-size: 1.4rem;
  min-height: initial;
}

.skills-list {
  height: inherit;
  min-height: inherit;
  list-style-type: square;
  margin: 25px 40px 45px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.skill-label {
  font-size: 25px;
  margin-bottom: 15px;
  color: #bac9e2;
  position: relative;
  width: fit-content;
  align-self: center;
  transition: color .3s ease;
}

.skill-label::after {
  content: "";
  display: inline-block;
  width: 100%;
  border-bottom: white 2px solid;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.skill-label:hover::after {
  animation: draw-underline .4s forwards;
}

.skill-label:hover {
  color: #d3d9e2;
}

.skill {
  transition: all .5s ease;
}

.skill:hover {
  color: #cc7856;
}

/* experience */
.experience {
  background-image: linear-gradient(to bottom, #2e2551, #cc7856)
}

/* contact form */
.contact-container {
  background-image: url(photos/contact-background.jpg);
  background-size: cover;
  background-position: center;
  height: 800px;
  text-align: center;
}

form {
  margin-top: 50px;
}

.form-container {
  transform: rotateX(90deg);
}

.form-container.flipDown {
  transform-origin: 50% 0%;
  animation: flipDown 1s forwards;
}

.contact.subheading {
  margin-top: 80px;
}

.form-control {
  width: 80vw;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 3px solid #eee;
  color: #fff;
  font-size: 18px;
  margin-bottom: 16px;
}

.submit {
  margin-top: 10px;
  border: none;
  width: 250px;
  padding: 10px 0;
  background-color: #ff5722;
  color: white;
  font-weight: 600;
}

input {
  height: 45px;
}

#status {
  display: none;
  font-size: 16px;
  font-weight: 800;
  padding: 5px;
  background-color: rgb(165, 231, 165);
  color: rgb(9, 172, 9);
  border: rgb(9, 172, 9) 2px solid;
}

.other__contact {
  margin: 35px 0;
  min-width: 100vw;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  flex: 0.4;
  height: 3px;
  background-color: #000;
}

.middle {
  flex: 0.2;
  font-size: 30px;
}

.contact-info > p {
  margin-top: 10px;
  font-size: 20px;
  padding: 0px 10px;
}

.contact-info > p > a {
  color: #ff5722;
}

/* footer */
footer {
  background: #36374c;
  height: 600px;
  text-align: center;
  padding: 60px;
  font-size: 18px;
  line-height: 35px;
}

footer p {
  opacity: 0;
}

.objective.subheading {
  border-bottom: none;
  font-weight: 500;
}

.icons {
  margin-top: 40px;
}

.icons > a {
  color: white;
  opacity: 0.5;
  font-size: 30px;
  margin: 30px;
  transition: all 0.4s ease;
}

.icons > a:hover {
  opacity: 0.3;
}

.fadeUp {
  animation: fadeUp 0.6s ease forwards;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #f8dea3;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #abb2cf;
}

/* keyframes */
@keyframes flipDown {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes flipUp {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes draw-underline {
  0% {
    opacity: 1;
    border-bottom: transparent 2px solid;
    transform: rotateY(90deg);
    transform-origin: 0 0;
  }

  100% {
    opacity: 1;
    border-bottom: white 2px solid;
    transform: rotateY(0deg)
  }
}

/* media queries */
@media screen and (max-width: 920px) {
  .projects {
    min-height: 1200px;
  }
}

@media screen and (max-width: 877px) {
  .projects {
    min-height: 1110px;
  }
}

@media screen and (max-width: 707px) {
  .projects {
    min-height: 2000px;
  }

  .img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: initial;
  }

  .project {
    width: 70vw;
  }

  .project > picture > img {
    height: 100%;
  }

  footer {
    font-size: 14px;
    line-height: 20px;
  }

  .mobile-text {
    display: block;
    margin: 15px 10px;
    margin-top: 0;
    max-width: 80vw;
  }
}

@media screen and (min-width: 873px) {
  .projects {
    height: 950px;
  }

  .form-control {
    width: 600px;
  }
}

@media screen and (max-width: 576px) {
  .navbar {
    left: 50%;
  }

  .navlist {
    width: 270px;
  }
}

@media screen and (max-width: 454px) {
  .projects {
    min-height: 1000px;
  }
}

@media screen and (max-width: 384px) {
  footer {
    padding: 30px;
  }

  .navlist {
    display: none;
  }
}

@media screen and (max-width: 314px) {
  footer {
    padding-top: 0px;
  }

  .objective.subheading {
    font-size: 24px;
  }
}
